<section class="welcome">
  <div class="container">
    <div class="embed-responsive embed-responsive-16by9 left">
      <iframe class="embed-responsive-item"
        src="https://maps.google.com/maps?hl=en&amp;q=Edif%C3%ADcio%20Top%20Tower+(T%C3%ADtulo)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed"
        title="Consultório" allowfullscreen></iframe>
    </div>
    <div class="right">
      <h3>Endereço</h3>
      <p>Rua Esteves Júnior, nº50 - Centro,</p>
      <p>Florianópolis - SC, 88015-130.</p>
    </div>
  </div>
</section>

<section class="container quotes">
  <div class="grid">
    <blockquote>
      Celular/WhatsUp: (48)99952-8228
    </blockquote>
    <blockquote>
      email: betelopes@yahoo.com.br
    </blockquote>
  </div>
</section>
