  <header>
  </header>

  <body>
    <div class="container site-header row fixed-up sticky-top" style="width: 100%; background-color: #ffff;">
      <div class="col-xs-8 col-sm-6 col-md-8">
        <h1>
          <img src="assets/images/logo.png" alt="Dra.Elisabete Lopes Guimarães" />
          <span>Dra.Elisabete Lopes Guimarães teste</span>
          <em class="fab fa-whatsapp-square"> 99952-8228</em>
        </h1>
      </div>
      <div class="col-xs-4 col-md-4">
        <nav>
          <ul>
            <li><a href="/principal">Home</a></li>
            <li><a routerLink="/contato">Contato</a></li>
          </ul>
        </nav>
      </div>

    </div>
    <app-principal-component>
    </app-principal-component>
    <router-outlet></router-outlet>
  </body>